<div class="main">
    <div class="container">

        <h1>EXPLORATION</h1>

        <form>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-search"></i></div>
                    <input type="text" class="form-control" placeholder="Search product" ng-model="search">
                </div>
            </div>
        </form>

        <p>Number of products : {{ numberOfProducts }}</p>

        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <td>
                    <a ng-click="sortType = 'nameLegal'; sortReverse = !sortReverse">
                        Name
                        <span ng-show="sortType == 'nameLegal' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'nameLegal' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </td>
                <td>
                    <a ng-click="sortType = 'isBrandedBy.name'; sortReverse = !sortReverse">
                        Brand
                        <span ng-show="sortType == 'isBrandedBy.name' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'isBrandedBy.name' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </td>
                <td>
                    <a ng-click="sortType = 'quantityNormalized'; sortReverse = !sortReverse">
                        Quantity
                        <span ng-show="sortType == 'quantityNormalized' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'quantityNormalized' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </td>
                <td>
                    <a ng-click="sortType = 'certified'; sortReverse = !sortReverse">
                        Certified
                        <span ng-show="sortType == 'certified' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'certified' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </td>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="product in products | orderBy:sortType:sortReverse | filter:search">
                <td>{{ product.nameLegal }}</td>
                <td>{{ product.isBrandedBy.name }}</td>
                <td>{{ product.quantityNormalized }}</td>
                <td>{{ product.certified }}</td>
            </tr>
            </tbody>

        </table>

        <h1>VISUALIZATION</h1>

        <h2>BRANDS</h2>

        <nvd3 options="options" data="dataBrand"></nvd3>

        <h2>WEIGHT</h2>

        <nvd3 options="options" data="dataWeight"></nvd3>

        <h2>CERTIFIED</h2>

        <nvd3 options="options" data="dataCertification"></nvd3>

    </div>
</div>

